* {
  transition: all .2s;
}


a {
  border-radius: .5em;
}

a.lastCommand {
  background: #5d4037 !important;
  box-shadow: inset 0 0 .4em .2em rgba(0, 0, 0, .4) !important;
  color: #d7ccc8 !important;
}

a:active {
  background: #d32f2f !important;
  box-shadow: inset 0 0 .4em .2em rgba(0, 0, 0, .4) !important;
  color: #ffffff;
}


.working {
  color: #d32f2f;
}

#off {
  background: #795548;
}


.boiler {
  background: #795548;
}

.boiler .current {
  box-shadow: inset 0 0 .1em .2em #d32f2f;
}

.boiler .lastCommand.current {
  box-shadow: inset 0 0 .1em .2em #d32f2f, inset 0 0 .4em .2em rgba(0, 0, 0, .4) !important;
}

.boiler .current:active {
  box-shadow: inset 0 0 .1em .2em #d32f2f, inset 0 0 .4em .2em rgba(0, 0, 0, .4) !important;
}

.boiler .target:before {
  color: #d32f2f;
  content: '• ';
}

.pump {
  background: #795548;
}


.main {
  background: #795548;
}


#off, .boiler, .pump, .main {
  border-radius: .5em;
  box-shadow: inset 0 0 .4em .2em rgba(0, 0, 0, .4);
}
